<a routerLink="/rentals/{{apartmentI.id}}"> <!--   umjesto href je routerLink i onda se nece raditi request na server nego ce biti 'single page app'-->
  <div class="card bwm-card">
    <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="">
    <div class="card-block">
      <h6 class="card-subtitle">Whole Apartment &#183; {{apartmentI.city}}</h6>
      <h4 class="card-title">{{apartmentI.description}}</h4>
      <p class="card-text"> per Night {{apartmentI.price}} HRK &#183; Free Cancelation</p>
      <a href="#" class="card-link">More Info</a>
    </div>
  </div>
</a>
